/* /////////////header////////////// */
.header {
	height: 102px;
	width: 100%;
	background: #fff;
}
.header .cont {
	height: 100%;
	justify-content: space-between;
}
.header-menu {
	text-align: center;
}
.header-menu li a p {
	color: #0a2647;
	transition: all 0.2s ease-in 0s;
}
.header-menu li a p:hover {
	font-weight: 700;
}
.logo img {
	width: 100px;
}
@media (max-width: 768px) {
	.header {
		height: 70px;
	}
}
/* /////////////header////////////// */

/* //////////////head////////////// */
.head {
	background: #06163a;
	padding-top: 164px;
	padding-bottom: 144px;
	width: 100%;
	opacity: 0.8;
}
.head .cont {
	padding-left: 12px;
	padding-right: 12px;
}
.head h1 {
	max-width: 936px;
}
.head p {
	color: #fff;
	max-width: 580px;
}
@media (max-width: 1024px) {
	.head {
		padding-top: 100px;
		padding-bottom: 90px;
	}
}
@media (max-width: 768px) {
	.head {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
@media (max-width: 375px) {
	.head {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/* //////////////head////////////// */

/* //////////////amazing////////////// */
.amazing {
	padding-top: 80px;
	padding-bottom: 60px;
}
.amazing_photo {
	height: 450px;
}
.amazing_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.medium-pa {
	font-weight: 600;
	line-height: calc(32 / 16 * 100%);
	color: #666666;
}
@media (max-width: 768px) {
	.amazing {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.amazing_photo {
		height: auto;
	}
}
@media (max-width: 425px) {
	.amazing {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/* //////////////amazing////////////// */

/* //////////////statistics////////////// */
.statistics {
	padding-top: 60px;
	padding-bottom: 80px;
}
.statistics-item {
	text-align: center;
}
@media (max-width: 768px) {
	.statistics {
		padding-top: 30px;
		padding-bottom: 40px;
	}
}
@media (max-width: 425px) {
	.statistics {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/* //////////////statistics////////////// */

/* //////////////best////////////// */
.best {
	padding-top: 80px;
	padding-bottom: 160px;
	padding-left: 10px;
}
.best-item {
	height: 480px;
	text-align: center;
	background: gray;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 24px;
	transition: all 0.2s ease-in 0s;
}
.best-item h4 {
	color: #fff;
}
.best-content {
	margin-right: 120px;
}
.best-history {
	background: url('img/historyCity.jpg') 0 0 / cover no-repeat;
}
.best-guide {
	background: url('img/guide.jpg') 0 0 / cover no-repeat;
}
.best-item:hover {
	transform: scale(1.02);
}
@media (max-width: 1024px) {
	.best-content {
		margin-right: 60px;
	}
}
@media (max-width: 768px) {
	.best {
		padding-top: 40px;
		padding-bottom: 80px;
	}
	.best-content {
		margin-right: 0;
	}
	.best-item {
		height: 400px;
	}
}
@media (max-width: 425px) {
	.best {
		padding-top: 20px;
		padding-bottom: 40px;
	}
	.best-item {
		height: 250px;
		padding-bottom: 10px;
	}
}
/* //////////////best////////////// */

/* //////////////challenge////////////// */
.challenge {
	text-align: center;
	background: #06163a;
	padding: 80px 10px;
}
.challenge h3 {
	color: #fff;
}
.challenge p {
	max-width: 826px;
	margin: 0 auto;
	color: #fff;
}
@media (max-width: 768px) {
	.challenge {
		padding: 50px 10px;
	}
}
@media (max-width: 425px) {
	.challenge {
		padding: 20px 10px;
	}
}
/* //////////////challenge////////////// */

/* //////////////council////////////// */
.council {
	padding-top: 160px;
	padding-bottom: 80px;
	padding-left: 10px;
	padding-right: 10px;
}
.council .card-body {
	background: #06163a;
	text-align: center;
	padding: 32px;
}
.council h5 {
	color: #fff;
}
.card-img-top {
	border-radius: 0;
	height: 400px;
	object-fit: cover;
}
.socials {
	width: 208px;
	margin: 0 auto;
	text-align: center;
}
.socials .card {
	max-width: 450px;
}
.socials img {
	width: 40px;
}
.council h5 {
	margin-bottom: 0;
}
@media (max-width: 1024px) {
	.card-img-top {
		height: 300px;
	}
	.socials img {
		width: 30px;
	}
	.socials {
		width: 150px;
	}
}
@media (max-width: 768px) {
	.council {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.socials img {
		width: 20px;
	}
	.council .card-body {
		padding: 20px;
	}
}
@media (max-width: 425px) {
	.card-img-top {
		height: 150px;
	}
	.council {
		padding-top: 40px;
		padding-bottom: 20px;
	}
	.council .card-body {
		padding: 10px;
	}
	.socials img {
		width: 15px;
	}
	.socials {
		width: 90px;
	}
}
/* //////////////council////////////// */

/* //////////////content////////////// */
.content {
	padding-top: 120px;
	padding-bottom: 160px;
}
.content-item {
	padding: 152px 40px 90px;
	background: #06163a;
	opacity: 0.7;
}
.content-item h3,
.content-item p {
	color: #fff;
	word-wrap: break-word;
}
.content-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all 0.3s ease-in 0s;
}
.content-item p {
	flex: 1 1 auto;
}
.content .btn {
	display: inline;
}
.content-item:hover {
	transform: scale(1.02);
}
.button-center {
	display: block;
	text-align: center;
}
.news-title {
	text-align: center;
	max-width: 708px;
	margin: 0 auto;
	margin-bottom: 80px;
}
@media (max-width: 1024px) {
	.content-item {
		padding: 100px 40px 70px;
	}
}
@media (max-width: 768px) {
	.content {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.content-item {
		padding: 50px 20px 50px;
	}
}
@media (max-width: 425px) {
	.content-item {
		padding: 20px 15px 20px;
	}
	.content {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
/* //////////////content////////////// */

/* /////////////footer////////////// */
.footer {
	background: #06163a;
	padding-top: 72px;
	padding-bottom: 26px;
	width: 100%;
}
.footer p,
.footer h5 {
	color: #ffffff;
}
@media (max-width: 768px) {
	.footer {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.footer-logo img {
		width: 110px;
	}
}
/* /////////////footer////////////// */
