/* /////////////header////////////// */
.header {
	height: 102px;
	width: 100%;
	background: #fff;
}
.header .cont {
	height: 100%;
	justify-content: space-between;
}
.header-menu {
	text-align: center;
}
.header-menu li a p {
	color: #0a2647;
	transition: all 0.2s ease-in 0s;
}
.header-menu li a p:hover {
	font-weight: 700;
}
.logo img {
	width: 100px;
}
@media (max-width: 768px) {
	.header {
		height: 70px;
	}
}
/* /////////////header////////////// */

/* //////////////head////////////// */
.head {
	background: #06163a;
	padding-top: 164px;
	padding-bottom: 144px;
	width: 100%;
	opacity: 0.8;
}
.head .cont {
	padding-left: 12px;
	padding-right: 12px;
}
.head h1 {
	max-width: 936px;
}
.head p {
	color: #fff;
	max-width: 580px;
}
@media (max-width: 1024px) {
	.head {
		padding-top: 100px;
		padding-bottom: 90px;
	}
}
@media (max-width: 768px) {
	.head {
		padding-top: 50px;
		padding-bottom: 40px;
	}
}
@media (max-width: 375px) {
	.head {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
/* //////////////head////////////// */

/* //////////////government////////////// */
.government {
	padding: 120px 8px;
}
.government .item {
	background: none;
}
.government .item:hover {
	background: #fff;
	transform: translateY(-5px);
	box-shadow: 0px 48px 120px rgba(187, 187, 187, 0.25);
}
.government-title {
	max-width: 608px;
	padding-left: 12px;
}
@media (max-width: 768px) {
	.government {
		padding: 60px 8px;
	}
}
@media (max-width: 425px) {
	.government {
		padding: 30px 8px;
	}
}
.item {
	padding: 32px;
	background: #ffffff;
	transition: all 0.2s ease-in 0s;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.item p {
	flex: 1 1 auto;
}
.item_photo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: #d7e5f0;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 768px) {
	.item {
		padding: 20px;
		background: #ffffff;
	}
	.item_photo {
		width: 50px;
		height: 50px;
	}
	.item_photo img {
		width: 25px;
	}
}
@media (max-width: 425px) {
	.item_photo {
		width: 40px;
		height: 40px;
	}
	.item_photo img {
		width: 20px;
	}
}
/* //////////////government////////////// */

/* //////////////guide////////////// */
.guide {
	background: url('img/hall.jpg') 0 0 / cover no-repeat;
}
.guide-bg {
	background: #06163a;
	opacity: 0.9;
	padding-top: 96px;
	padding-bottom: 96px;
}
.guide h3,
.guide p {
	color: #fff;
}
.checked-list {
	padding: 12px 24px;
	background: #d61f00;
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.guide_list p {
	padding-left: 24px;
	font-size: 16px;
	line-height: calc(32 / 16 * 100%);
	font-weight: 600;
}
.guide_list p:first-child {
	padding-left: 0;
}
@media (max-width: 768px) {
	.guide-bg {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.guide_list p {
		font-size: 14px;
		padding-left: 16px;
	}
	.checked-list {
		padding: 8px 16px;
	}
}
@media (max-width: 425px) {
	.guide-bg {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.guide_list p {
		font-size: 12px;
		padding-left: 10px;
	}
	.checked-list {
		padding: 5px 10px;
	}
}
/* //////////////guide////////////// */
/* /////////////footer////////////// */
.footer {
	background: #06163a;
	padding-top: 72px;
	padding-bottom: 26px;
	width: 100%;
}
.footer p,
.footer h5 {
	color: #ffffff;
}
@media (max-width: 768px) {
	.footer {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.footer-logo img {
		width: 110px;
	}
}
/* /////////////footer////////////// */
